<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="daypilot" connectionString="data source=.\SQLEXPRESS01;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\daypilot.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="daypilot" connectionString="data Source=.\SQLEXPRESS01;AttachDbFilename=|DataDirectory|\daypilot.mdf;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient" />-->
    
    <!--
    <add name="daypilot"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=SRR;Integrated Security=True;MultipleActiveResultSets=True"/>
    -->

    <add name="daypilot"
      connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c563318fa01g5;Persist Security Info=True;User ID=c563318fa01g5;Password=9668856"
      providerName="System.Data.SqlClient"
    />
    <add name="srrs"
      connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c563318fa01g5;Persist Security Info=True;User ID=c563318fa01g5;Password=9668856"
      providerName="System.Data.SqlClient"
    />
    
    <!--<add name="daypilot"
      connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c563318sp02g4;Persist Security Info=True;User ID=c563318sp02g4;Password=7850477"
      providerName="System.Data.SqlClient"
    />
    
    <add name="srrs" 
      connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c563318sp02g4;Persist Security Info=True;User ID=c563318sp02g4;Password=7850477"
      providerName="System.Data.SqlClient"
    />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization uiCulture="en" culture="en-us" />
    <pages clientIDMode="AutoID" />
    <customErrors mode="Off"/>
  </system.web>
</configuration>